<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<h1>Analyze your text ..! Enter your text here</h1>
<form action = 'analyzed' method = 'get'>
   <textarea name = 'textVal' style="margin: 0px; width: 1344px; height: 232px;"></textarea>
    <input name = 'cb_removepunc' type='checkbox'>Remove Punctuations<br>
    <input name = 'cb_newlineremover' type='checkbox'>New Line Remover<br>
    <input name = 'cb_extraspaceremover' type='checkbox'>Extra Space Remover<br>
    <input name = 'cb_countelength' type='checkbox'>Count Length<br>
    <input name = 'cb_uppercase' type='checkbox'>UPPER CASE<br><br>
    <button type="submit">Analyzed Text</button>
</form>
</body>
</html>